<center>
   <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
    </center>

# Hands-on Lab: Create your Jupyter Notebook

# Exercise 1: Create a Jupyter Notebook

Create a new Jupyter notebook called DataScienceEcosystem.ipynb

> _Note: The next item in the course will launch JupyterLite with an empty notebook with this name that you can use to complete rest of the Exercises. You can also use any other Jupyter notebook environment (e.g. Anaconda) that you prefer to complete the assignment._

# Exercise 2: Create markdown cell with title of the notebook

Create a markdown cell with the title `Data Science Tools and Ecosystem` using H1 style heading.

> _Solution:_
# Data Science Tools and Ecosystem

# Exercise 3 - Create a markdown cell for an introduction

Write an introductory sentence about the notebook such as the follows:

> _Solution:_

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science;
- List commonly used Data Science libraries;
- Introduce arithmetic expression examples.

# Exercise 4 - Create a markdown cell to list data science languages

Start the cell with an overview line such as:

`Some of the popular languages that Data Scientists use are:`Then create an `ordered` list (i.e. numbered) listing 3 (or more) commonly used languages for data science.

> _Solution:_
> 
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

# Exercise 5 - Create a markdown cell to list data science libraries

Add an overview line to the cell like:

`Some of the commonly used libraries used by Data Scientists include:`
Below this line add an `ordered list` listing 3 (or more) commonly used libraries in data science.

> _Solution:_

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. pandas
3. scikit-learn
4. Matplotlib
5. Seaborn

# Exercise 6 - Create a markdown cell with a table of Data Science tools

> _Solution:_

| Ferramentas de CiÃªncia de Dados |
|---------------------------------|
| Jupyter Notebooks               |
| RStudio                         |
| VS Code                         |

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

Add a line in this cell with H3 style heading with text like:

`Below are a few examples of evaluating arithmetic expressions in Python.`

> _Solution:_

### Below are a few examples of evaluting arithmetic expressions in Python.

# Exercise 8 - Create a code cell to multiply and add numbers

In this code cell evaluate the expression `(3*4)+5`.
Insert a comment line before the expression to explain the operation e.g. `This a simple arithmetic expression to mutiply then add integers`.
Then execute the cell to ensure the expression returns the expected output of `17`.

> _Solution:_

# This is a simple arithmetic expression to multiply and add integers.

In [6]:
(3*4)+5

17

# Exercise 9 - Create a code cell to convert minutes to hours

In this code cell write an expression that converts `200 minutes` into `hours`.
Insert a comment line before the expression to explain the operation e.g. `This will convert 200 minutes to hours by diving by 60`.
Run the cell to evaluate the expression.

> _Solution:_

In [10]:
# This will convert 200 minutes to hours by dividing them by 60.
print (200 / 60)

3.3333333333333335

# Exercise 10 - Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: `Objectives:` in bold font. Then using an `unordered list` (bullets) indicate 3 to 5 items covered in this notebook, such as `List popular languages for Data Science`.

> _Solution:_

Inserted cell with objectives in **Exercise 3:**

**Objectives:**

- List popular languages for Data Science;
- List commonly used Data Science libraries;
- Introduce arithmetic expression examples.

# Exercise 11 - Create a markdown cell to indicate the Author's name

In this markdown cell markdown cell include the following text `Author` in `H2 style heading`. Include your `name` as regular text below the word `Author`.

> _Solution:_

## Author

Erivelton Pinheiro de Menezes

# Exercise 12 - Share your notebook through GitHub

Upload your notebook to a public respository on GitHub.

> _Note : Please keep the GitHub repo link of the notebook handy.
You will need to submit this link as a part of the assignment evaluation._

_Hint: Refer to **Lab: Working with files in Jupyter Notebooks** to download the notebook from **SN Labs.**_

# Exercise 13 -Take a screenshot of the first page of the notebook and save it as `1-notebook.png`

_Refer to **Hands-on Lab: Getting Started with GitHub** to upload the downloaded notebook to **GitHub.**_

Congratulations on completing this project. In a subsequent item in the course you will submit a link to your notebook on GitHub and evaluate your peers.